<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Spring Security - OAuth 2.0 User Info</title>
</head>
<body>
	<div th:replace="index::logout"></div>
	<h1>OAuth 2.0 User Info</h1>
	<div>
		<span style="font-weight: bold">User Attribute</span>
		<ul>
			<li th:each="userAttribute: ${userAttributes}">
				<span style="font-weight: bold" th:text="${userAttribute.key}"></span>
				: 
				<span th:text="${userAttribute.value}"></span>
			</li>
		</ul>
	</div>
</body>
</html>